# LLM & AI Pipeline
langchain-google-genai==4.2.5
langchain-nvidia-ai-endpoints==1.4.3
pydantic==2.13.4
tenacity==9.1.4

# Web Crawling
selenium==4.35.0
beautifulsoup4==4.14.2
lxml==6.0.2

# Infra & Utility
notion-client==2.5.0
python-dotenv==1.1.1
PyYAML==6.0.3